
a {
  color: var(--currentColor);
  text-decoration: none;
}

/* Loard Vader Former Handle Anakin */
a:link {
  color: var(--blue);
}

a:visited {
  color: var(--yellow);
}

a:focus {
  color: var(--grey);
}

a:hover {
  color: var(--redgreen);
  text-decoration: underline;
}

a:active {
  color: var(--red);
}
