
h6,.h6 {
  font-size: var(--h6);
}
h5,.h5 {
  font-size: var(--h5);
  margin-bottom: var(--h6);
}
h4,.h4 {
  font-size: var(--h4);
  margin-bottom: var(--h5);
}

h3, .h3{
  font-size: var(--h3);
  margin-bottom: var(--h4);
}

h2,.h2 {
  font-size: var(--h2);
  margin-bottom: var(--h3);
}

h1,.h1 {
  font-size: var(--h1);
  margin-bottom: var(--h2);
}
