/* my css file */
/** we are going to build 
 beautiful styling **/

@import url("anchor.css");
@import url("heading.css");

:root{
  --blue: #007bff;
  --red: #dc3545;
  --grey: #6c757d;
  --redgreen: #28a745;
  --yellow: #ffc107;
  --font: 1.2rem;
  --scale: 1.15;
  --h6 : calc(var(--font) * var(--scale));
  --h5 : calc(var(--h6) * var(--scale));
  --h4 : calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
}
body {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #789;
  max-width: 700px;
  margin: 0 auto;
}

blockquote {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
}

cite {
  font-size: 1.5rem;
  font-weight: bold;
}

.bigbold {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  line-height: 1.5;
  color: transparent;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 38%, rgba(0, 0, 0, 1) 55%);
  background-clip: text;
}

.underline {
  text-decoration: underline bisque double;
}

body>p:first-of-type {
  line-height: 2;
}
