body {
  margin: 0;
}

.small-box {
  width: 200px;
  height: 100px;
  padding: 1em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

figure {
  border: 1em solid antiquewhite;
  /* outline: 2em solid currentColor; */
  margin: 0 auto;
}

.black-border {
  border: 1em solid gray;
}

.outline-overlap {
  box-sizing: border-box;
  width: 600px;
  padding: 0;
  margin: 0 auto;
  outline: 2em dotted mediumaquamarine;
  border: 3em solid blue;
}

.outline-offset {
  box-sizing: border-box;
  padding: 20px;
  background-color: antiquewhite;
  border: 2px solid blueviolet;
  outline-offset: 10px;
  outline: 2px ridge cyan;
  margin: 4em;
}
